/* Container styles */
.app-container {
  padding: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.content-layout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

/* Main content */
.intro-content {
  max-width: 700px;
  flex: 1;
}

