html, body {
  margin: 0;
  padding: 0;
}

/* Pallette */
:root {
  --color-primary: #B99976;    /* Warm taupe */
  --color-secondary: #D2B48C;  /* Light tan */
  --color-light: #E5D3B3;     /* Cream */
  --color-medium: #987554;    /* Medium brown */
  --color-dark: #664229;      /* Dark brown */
  --color-black: #333333;     /* Black */
  --color-white: #FFFAF1;     /* White */

  background-color: var(--color-white);
}

body {
  font-family: 'Open Sans', sans-serif; /* Open Sans is the primary font, sans-serif is the fallback */
}

code {
  background-color: var(--color-light);
  color: #333;
  padding: 2px 4px;
  border-radius: 3px;
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: inherit;
}

.website-title {
  font-size: 2em;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  background-color: var(--color-primary);
  padding: 4em;
}

.content-layout {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  padding: 0em 1em;
}

/* Main content */
.intro-content {
  max-width: 700px;
  flex: 1;
}

